.full-bg {
  background-image: url('../assests/bg.jpg');
  background-size: cover;

  background-position: center;
  width: 100%;
  height: 100vh;
}
.image-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(19, 5, 31, 0.753);
}
